@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin:0;
  padding:0;
  outline:0;
  box-sizing:border-box;
}

*:focus {
  outline:0;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(-90deg, #1DA1BE, #1DA1FA);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font: 400 1.4rem 'Roboto', sans-serif;
  color: #8080E9;
} 

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1120px;
  margin: 100px auto;
  padding: 0 24px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .main{  
  width: 100%;
  padding: 24px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .main h1 {
  margin: 20px 0;
  font-size: 4rem;
}

.container .main form {
  width: 100%;
  display: flex;
}

.container .main form input {
  width: 80%;
  height: 60px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 2.4rem;
  font: 400 2.4rem 'Roboto', sans-serif;
  
  margin-right: 10px;
}

.container .main form button {
  width: 20%;
  height: 60px;
  background: #8080E9;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 60px;
  color: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition: filter ease 0.2s, border 0.2s ease 0s, transform 0.2s ease 0s;
  border: 3px solid transparent;
}

.container .main form button:hover {
  filter: brightness(90%);
  border-color:#333;
  transform: translateY(-7px);
}

.container .results{
  width: 100%;

  margin-top: 64px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container .results .results-box{
  width: 100%;
  padding: 24px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border-radius: 8px;

  margin: 0 16px 0 0;
}

.container .results .results-box:nth-child(2){
  margin: 0 0 0 16px;
  text-align: center;
}

.container .results .results-box h2{
  font-size: 3.2rem;
}

.container .results .results-box div#found-users .found-user{
  display: flex;
  align-items: center;

  margin: 10px 0;
  padding: 10px 0;

  font-size: 2.4rem;
}

.container .results .results-box div#found-users .found-user img{
  margin-right: 10px;
}


.container .results .results-box div#found-stats{
  display: flex;
  flex-direction: column;

  font-size: 2.4rem;
}

@media (max-width: 768px) {
  .container .main form {
    flex-direction: column;
  }

  .container .main form input{
    width: 100%;
  }

  .container .main form button{
    width: 100%;
    margin-top: 10px;
  }

  .container .main h1 {
    font-size: 3.2rem;
  }

  .container .results{
    flex-direction: column-reverse;
  }
  
  .container .results .results-box{
    margin: 16px 0 0 0;
  }

  .container .results .results-box:nth-child(2){
    margin: 0 0 16px 0;
  }
}

